html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/260/047/original/holographic-fantasy-rainbow-unicorn-background-with-clouds-hearts-and-stars-pastel-color-sky-magical-landscape-abstract-fabulous-pattern-cute-candy-wallpaper-vector.jpg");
  background-size: cover;
  font-family: 'Caveat', cursive;
}

img {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

#audio {
  height: 30px;
  width: 30px;
}

#game-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 95vw;
}

#player2-info {
  order: 1;
}

.square {
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

#function-bar {
  display: flex;
  justify-content: flex-end;
  width: 95vw;
  margin: 10px;
}

h1 {
  color: #FFF6BF;
  text-shadow: 2px 2px #C98474;
  font-size: 30px;
  animation: bounce 2s;
  animation-iteration-count: 1;
}

h2 {
  color: #fcf9f8;
  font-size: 28px;
  text-shadow: 2px 2px #7A4495;
}

.blank {
  border: black 2px solid;
  margin: 2px;
  background-color: rgba(238, 105, 131, 0.3);
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  margin: 10px;
  border: rgb(100, 92, 170) 2px solid;
  background-color: rgba(195, 248, 255, 0.4);
  border-radius: 10%;
  padding: 5px;
  box-shadow: 2px 5px rgb(100, 92, 170);
}

.column {
  display: grid;
  grid-template-rows: repeat(6, 30px);
}

#askToEnterName {
  margin: 20px 0;
  text-align: center;
}

.columnhover:hover {
  background-color: #916BBF;
  border-radius: 20px;
}

.player1 {
  border: black 2px solid;
  margin: 2px;
  background-color: rgb(37, 49, 109);
}

.player2 {
  border: black 2px solid;
  margin: 2px;
  background-color: rgb(238, 105, 131);
}

#nameContent1 {
  color: skyblue;
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 1px 1px blue;
}

#nameContent2 {
  color: rgb(236, 153, 167);
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 1px 1px rgb(96, 9, 136);
}

#btns {
  display: flex;
  flex-direction: row;
}

.btn {
  margin: 5px;
  font-size: 10px;
}

#restart-btn {
  background-color: #7A4495;
}

#restart-btn:hover,
#home-btn:hover {
  background-color: rgba(195, 248, 255, 0.4);
  color: black;
}

#home-btn {
  background-color: navy;
}

#hint-msg {
  animation: flash 2s;
  animation-iteration-count: 2;
}

#player1Name,
#player2Name{
  border-radius: 10px;
  border-color:pink;
}

#name1Submit,
#name2Submit{
  background-color: #9f3cd1;
  border-color: #9f3cd1;
}

@media only screen and (min-width: 768px){
  body{
    height: 40vh;
  }

  img {
    width: 60px;
    height: 60px;
  }

  #audio {
    height: 60px;
    width: 60px;
  }

  h1 {
    font-size: 50px;
    margin: 20px;
  }

  h2 {
    font-size: 40px;
  }

  .board {
    grid-template-columns: repeat(7, 70px);
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 10px rgb(100, 92, 170);
  }

  .column {
    grid-template-rows: repeat(6, 70px);
  }

  #game-section {
    flex-direction: row;
  }

  #askToEnterName {
    margin: 60px 0;
  }

  #nameContent1 {
    font-size: 40px;
    text-shadow: 2px 2px blue;
  }

  #nameContent2 {
    font-size: 40px;
    text-shadow: 2px 2px rgb(96, 9, 136);
  }

  .btn {
    font-size: 20px;
    margin: 10px 0;
  }
}

/* @media only screen and (min-width:1024px) {
  img {
    width: 60px;
    height: 60px;
  }

  #audio {
    height: 60px;
    width: 60px;
  }

  h1 {
    font-size: 50px;
    margin: 20px;
  }

  h2 {
    font-size: 40px;
  }

  .board {
    grid-template-columns: repeat(7, 70px);
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 10px rgb(100, 92, 170);
  }

  .column {
    grid-template-rows: repeat(6, 70px);
  }

  #game-section {
    flex-direction: row;
  }

  #askToEnterName {
    margin: 60px 0;
  }

  #nameContent1 {
    font-size: 40px;
    text-shadow: 2px 2px blue;
  }

  #nameContent2 {
    font-size: 40px;
    text-shadow: 2px 2px rgb(96, 9, 136);
  }

  .btn {
    font-size: 20px;
    margin: 10px 0;
  }
} */