body {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/260/047/original/holographic-fantasy-rainbow-unicorn-background-with-clouds-hearts-and-stars-pastel-color-sky-magical-landscape-abstract-fabulous-pattern-cute-candy-wallpaper-vector.jpg");
  background-size: cover;
  font-family: 'Caveat', cursive;
}

.columnhover:hover{
  background-color: #916BBF;
  border-radius: 20px;
}

#audio{
  height: 80px;
  width: 80px;
}

#game-section{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 95vw;
}

#player2-info{
  order:1;
}


.square{
  border-radius: 50%;
  text-align: center;
  vertical-align:middle;
}

#function-bar{
  display: flex;
  justify-content: center;
  width:95vw;
  margin: 30px;
}

h1{
  color:#FFF6BF;
  text-shadow: 2px 2px #C98474;
  font-size: 50px;
  animation: bounce 2s;
  animation-iteration-count: 1;
}

h2{
  color:#fcf9f8;
  /* color:pink; */
  font-size: 40px;
  text-shadow: 2px 2px #7A4495;
}


.blank {
  border: black 2px solid;
  margin: 2px;
  background-color: rgba(238, 105, 131,0.3);
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  margin: 20px;
  border: rgb(100, 92, 170) 2px solid;
  background-color: rgba(195, 248, 255, 0.4);
  border-radius: 10%;
  padding:10px;
  box-shadow:5px 10px rgb(100, 92, 170);
}

#askToEnterName{
  margin: 60px 0;
}

.column {
  display: grid;
  grid-template-rows: repeat(6, 70px);
}

.player1 {
  border: black 2px solid;
  margin: 2px;
  background-color: rgb(37, 49, 109);
}

.player2 {
  border: black 2px solid;
  margin: 2px;
  background-color: rgb(238, 105, 131);
}

#nameContent1{
  color:skyblue;
  /* color: rgb(16, 86, 95); */
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 2px 2px blue;
  /* background-color: skyblue; */
  /* border-radius: 50%; */
  /* padding: 20px; */

}

#nameContent2{
  color: rgb(236, 153, 167);
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 2px 2px rgb(96, 9, 136);  
}

#btns {
  display: flex;
  flex-direction: row;
}

.btn {
  margin: 5px;
  font-size: 20px;
}

#restart-btn{
  background-color: #7A4495;
}

#restart-btn:hover,
#home-btn:hover{
  background-color: rgba(195, 248, 255, 0.4);
  color:black;
}

#home-btn{
  background-color: navy;
}

#hint-msg{
  animation: flash 2s;
  animation-iteration-count: 2;
}
